[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - amundim/Heavy-Metal-Data-Collection: Scrapping data from Wikipedia and retrieving via Spotify's API
Type=Link
URL=https://github.com/amundim/Heavy-Metal-Data-Collection
Icon=text-html
