[Desktop Entry]
Encoding=UTF-8
Name=Link to No Data? No Problem! How to Collect Heavy Metal Data From Wikipedia and Spotify | by Alexandre Mundim | The Startup | Medium
Type=Link
URL=https://medium.com/swlh/no-data-no-problem-how-to-collect-heavy-metal-data-from-wikipedia-and-spotify-f879762046ff
Icon=text-html
